/*** General ***/

* {
     margin: 0;
     padding: 0;
     font-family: "Montserrat", "sans-serif";
}

html {
     overflow-x: hidden;
}

a {
     transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
     opacity: 0.7;
     text-decoration: none;
     transition: all 0.3s ease-in-out;
     outline: none;
}


/** PAISES ***/

body {
     background-color: #090E18;
     background-image: url(../img/paises/bg.png);
     background-position: bottom right;
     background-size: 70%;
     background-repeat: no-repeat;
}

.paises {
     max-width: 75%;
     float: none;
     margin: auto;
     padding-top: 3%;
}

.paises .logo {
     max-width: 450px;
     width: 100%;
     display: block;
     margin: auto;
}

.paises h1 span {
     color: #fff;
}

.paises h1 {
     text-align: center;
     margin: 0;
     color: #AEAEAE;
     font-size: 36px;
     font-weight: 700;
     margin-top: 50px;
}

.paises .container_paises {
     display: flex;
     flex-wrap: wrap;
     max-width: 80%;
     margin: auto;
     justify-content: space-between;
     margin-top: 35px;
}

.paises .container_paises .item a {
     display: block;
     width: 100%;
     padding: 15px;
}

.paises .container_paises .item {
     max-width: 32%;
     width: 100%;
     background: rgb(255 255 255 / 0.6);
     border-radius: 10px;
     height: 50px;
     display: flex;
     align-items: center;
     margin-bottom: 20px;
}

.paises .container_paises img {
     margin-right: 10px;
}

.paises .container_paises p {
     color: #fff;
     font-weight: 700;
     font-size: 20px;
     display: inline-block;
     margin-bottom: 0;
}


/*** FOOTER ***/

footer {
     max-width: 70%;
     margin: auto;
     float: none!important;
     padding-top: 15%;
     padding-bottom: 4%;
}

footer .disclaimer {
     background: #fff;
     border-radius: 10px;
     max-width: 450px;
     width: 100%;
     display: flex;
     align-items: center;
     height: 80px;
     padding: 15px;
     margin: auto;
}

footer .disclaimer img {
     width: 45px;
     margin-right: 10px;
}

footer .disclaimer p {
     margin: 0;
     color: #000000;
     font-weight: 500;
     font-size: 20px;
}

footer .social {
     margin-top: 50px;
     text-align: center;
}

footer .social a {
     display: inline-block;
     background: #BDC3CA;
     font-size: 24px;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     line-height: 45px;
     color: #090e18;
     margin: 0px 10px;
}

footer .social a i {}

footer hr {
     border-color: #71777D;
     margin-top: 30px;
}

footer .logo_footer {
     max-width: 250px;
     margin: auto;
     display: block;
}

footer h2 {
     margin: 0;
     color: #fff;
     text-align: center;
     font-size: 16px;
     font-weight: 400;
}

footer span {
     text-align: center;
     display: block;
     color: #92989F;
     margin-top: 30px;
     font-size: 12px;
}